header {
    padding: 0 20px;
    background-color: var(--color-bg-secondary);
    height: 70px;
    width: 100%;
    display:flex;
    align-items: center;
  }
  
  header h1{
    color: var(--color-font-tertiary);
    font-size: 20px;
    color: var(--color-font-primary);
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  
@media (min-width: 320px) {
  header h1 {
    font-size: 24px;
  }
}